@import "../../styles/variables.scss";

.bannerContainer {
    width: 100%;
    height: 60vh;
    background-image: url("../../assets/BannerImage.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondary-color;
}

.overlayText {
    padding: 40px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}